<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MP3-Tambis">
    <meta name="author" content="htmlGenerator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MP3-Tambis</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.global.js"></script>

</head>

<body>
    <div id="body">


        <div class="s-layout">

            <div class="s-layout__sidebar">
                <nav class="s-sidebar__nav">
                <a class="s-sidebar__trigger" href="#0">
                    <i class="fas fa-bars"></i>
                </a>
                    <ul>
                        <li>
                            <img src="images/mp3logo.png" class="img-fluid logo">
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" data-bs-toggle="modal" data-bs-target="#upload">
                                <i class="fa fa-upload"></i><em>Upload Music</em>
                            </a>
                        </li>
                        <li>
                            <a @click="displaySong" class="s-sidebar__nav-link" href="#0">
                                <i class="fa fa-user"></i><em>All Songs</em>
                            </a>
                        </li>
                        <li>
                            <a @click="create = ''" class="s-sidebar__nav-link" href="#0" data-bs-toggle="modal" data-bs-target="#create-playlist">
                                <i class="fa fa-list"></i><em>Create Playlist</em>
                            </a>
                        </li>
                        <li v-for="(musicplaylist, index) in playlists">
                            <a class="s-sidebar__nav-link" href="#0">
                                <em @click="displayPlaylistsong(index)">{{musicplaylist.playlist}}</em><i @click="deletePlaylist(index)" class="fas fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <main class="s-layout__content">
                <div class="header">
                    <div class="w-100">
                    </div>
                    <div id="backpic">
                        <div class="col-6 ">
                            <div class="input-group p-5 d-flex justify-content-end">
                                <input type="text" class="form-control" placeholder="Search Song" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container m-2">
                    <div class="mb-1">
                        <h1 class="allsongs d-inline-block">{{header}}</h1>
                        <div class="ms-2 d-inline-block" v-if="playlist_index != null">
                            <button @click="displayavailablesongs" data-bs-toggle="modal" data-bs-target="#addsong-playlist" class="btn btn-info btn-sm"><i class="fas fa-music"></i><i class="fas fa-plus" style="font-size: 9px;"></i></button>
                            <button data-bs-toggle="modal" data-bs-target="#edit-playlist" class="btn btn-warning btn-sm ms-2"><i class="fas fa-edit"></i></button>
                        </div>
                    </div>
                    <table class="center">

                        <tr class="th">
                            <th></th>
                            <th>
                                <h1>Title</h1>
                            </th>
                            <th>
                                <h1>Artist</h1>
                            </th>
                            <th>
                                <h1>Album</h1>
                            </th>
                            <th>
                                <h1>Duration</h1>
                            </th>
                            <th></th>
                        </tr>
                        <tr v-if="music.length == 0"><td colspan="6" class="text-center">Empty Music</td></tr>
                        <tr v-for="(songs, index) in music">
                            <td class="text-center"><i class="fas fa-play"></i></td>
                            <td>{{songs.title}}</td>
                            <td>{{songs.artist}}</td>
                            <td>{{songs.album}}</td>
                            <td>{{songs.duration}}</td>
                            <td class="text-center"><i @click="deleteSong(index)" class="fas fa-times-circle fa-lg text-danger"></i></td>
                        </tr>

                    </table>

                </div>
                <div class="player ">

                    <div class="playing position-relative d-flex align-items-center">
                        <div class="line">
                        </div>
                        <div class="line-circle"></div>

                    </div>
                    <div class="control-player d-flex justify-content-center">
                        <i class="fas fa-backward"></i>
                        <i class="fas fa-play"></i>
                        <i class="fas fa-forward"></i>
                    </div>
                </div>

            </main>
        </div>

        <div id="upload" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Song</h5>
                    </div>
                    <div class="modal-body">
                        <div class="drag-drop d-flex align-items-center justify-content-center " @drop="drop" @dragover="drag" @dragleave="leave">
                            <span  v-if="musiclist.length == 0"> Drag and Drop files here</span>
                            <span v-if="musiclist.length >= 1">{{musiclist[0].name}} </span>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="addmusic" class="positive">Upload</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
            <audio preload="metadata" id="sound"></audio>
        <div id="create-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <input v-model="create" type="text" class="create-playlist">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="positive" @click="addPlaylist"> Create</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <input v-model="create" type="text" class="create-playlist">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="positive" data-bs-dismiss="modal" @click="editPlaylist">Save</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addsong-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add to Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <table class="center">
                            <tr class="th">
                                <th>
                                    Title
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th></th>
                            </tr>
                            <tr v-if="availablesongs.length == 0"><td colspan="6" class="text-center">Empty Music</td></tr>
                            <tr v-for="(songs, index) in availablesongs">
                                <td>{{songs.title}}</td>
                                <td>{{songs.duration}}</td>
                                <td class="text-center"><i @click="addsongtoplaylist(index)" class="fas fa-plus-circle fa-lg text-success"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jsmediatags.min.js"></script>
    


</body>

</html>
