nav img {
    width: 55px;
}

nav a {
    display: flex !important;
    align-items: center !important;
}

nav a span {
    color: rgba(0, 0, 0, 1);
    font-family: Courgette;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0;
}

nav ul li a {
    padding: 5px 30px !important;
    color: black !important;
    font-family: Courgette;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

#fbg {
    background: url('images/fbg.png');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    height: 600px;
    padding-left: 50px;
}

#fbg span {
    padding: 0px 20px;
    font-family: Courgette;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

#title {
    color: white;
    font-family: Courgette;
    text-align: left;
    font-size: 72px;
    letter-spacing: 0;
}

#desc {
    color: white;
    font-family: Courgette;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

#btn {
    color: rgba(0, 0, 0, 1);
    font-family: Courgette;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
    border: none;
    border-radius: 40px;
    padding: 15px;
}

#menu p,
#about p,
#contact p {
    color: rgba(0, 0, 0, 1);
    font-family: Courgette;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0;
}

#menu img {
    width: 60%;
    padding: 30px;
}

#about-desc {
    font-family: Courgette;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

#about img {
    width: 40%;
}

#contact {
    background: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.25);
    padding: 50px;
}

.social img {
    width: 81px;
}

.social span {
    color: rgba(0, 0, 0, 1);
    font-family: Yellowtail;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    padding-left: 25px;
}

#credit div {
    padding: 20px;
}

#credit div span {
    font-family: Courgette;
    text-align: left;
    font-size: 32px;
    letter-spacing: 0;
}

#credit div img {
    width: 32px;
    height: 32px;
}

.sec {
    margin-top: 40px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 992px) {
       nav ul li a {
        padding: 5px 20px !important;
        font-size: 18px;

    }
}
@media only screen and (max-width: 767px) {



    nav a span {
        font-size: 28px;
    }

    #fbg span {
        padding: 0px 5px;
        font-size: 16px;
    }

    #fbg {
        background: url('images/fbg.png');
        background-size: 100% 500px;
        background-repeat: no-repeat;
        height: 500px;
        padding-left: 20px;
    }

    #title {
        font-size: 48px;
    }

    #desc {
        font-size: 24px;
    }

    #btn {
        font-size: 26px;
        border-radius: 30px;
        padding: 10px;
    }

    #menu img {
        width: 100%;
        padding: 10px;
    }

}

@media only screen and (max-width: 480px) {
    nav a span {
        font-size: 28px;
    }

    #fbg span {
        padding: 0px 5px;
        font-size: 16px;
    }

    #fbg {
        background: url('images/fbg.png');
        background-size: 100% 500px;
        background-repeat: no-repeat;
        height: 500px;
        padding-left: 20px;
    }

    #title {
        font-size: 48px;
    }

    #desc {
        font-size: 24px;
    }

    #btn {
        font-size: 26px;
        border-radius: 30px;
        padding: 10px;
    }

    #menu img {
        width: 100%;
        padding: 10px;
    }

}
