/* Primary Styles */
*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
   font-size: 1.4em;
}

em {
   font-style: normal;
   width: calc(15em - 70px);
   padding-bottom: 20px;
   padding-top: 20px;
}

a {
   text-decoration: none;
   color: inherit;
}

/* Layout */
.s-layout {

   width: 100%;
   min-height: 100vh;
}



/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   background: #ACF1ED;
}

.s-sidebar__trigger>i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #333;
}

.s-sidebar__nav {
   position: fixed;
   top: 3;
   left: -15em;
   overflow-y: auto;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: #ACF1ED;
   color: #333(255, 255, 255, 0.7);
   z-index: 2;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus+.s-sidebar__nav,
.s-sidebar__trigger:hover+.s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #4d6276;
}

.s-sidebar__nav-link>i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link>i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.logo {
   width: 100%;


}


table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

td,
th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

.th {
   background: #ACF1ED;
}


table,
th,
td {
   border: 1px solid black;
   border-collapse: collapse;
}

th,
td {
   padding-top: 15px;
   padding-bottom: 15px;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.box {
   width: 100%;
   text-align: center;
}

.table-container {
   margin-top: 100px;
   margin-left: 20px;
   margin-right: 20px;

}

.search-container {
   margin-top: 40px;
   margin-left: 20px;

}

.search-container form input {
   margin: 0;
   padding: 10px;
   font-size: 18px;

}

.search-container form button {
   margin: 0;
   padding: 10px;
   font-size: 18px;

}

.player {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 100px;
}

.control-player i {
   color: 31908B;
   font-size: 50px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;

}

.playing {
   height: 20px;


}

.line {
   height: 5px;
   width: 100%;
   background: #ACF1ED;
}

.line-circle {
   height: 20px;
   width: 20px;
   background: black;
   position: absolute;
   top: 0;
   left: 40%;
   border-radius: 20px;

}

.modal-header {
   background: #ACF1ED;
}

.drag-drop {
   height: 50px;
   width: 100%;
   background: grey;
}

.positive {
   background: #ACF1ED;
   padding: 10px;

}

.cancel {
   background: white;
   padding: 10px;
   border: 1px solid #ACF1ED;

}

.create-playlist {
   padding: 10px;
   width: 100%;
}







































/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }

   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }

   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }

   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover+.s-sidebar__nav,
   .s-sidebar__trigger:focus+.s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }

   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }

   .s-sidebar__nav {
      width: 15em;
   }

   .s-sidebar__nav ul {
      top: 1.3em;
   }
}